<nav
  class="bg-gradient-to-r from-slate-500 to-red-500 m-4 rounded-md drop-shadow-xl"
>
  <div class="flex flex-wrap justify-between m-auto p-4">
    <span
      class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
      >Movie</span
    >
    <ms-search-input
      class="flex items-center self-center"
      (searchMovieEvent)="searchMovie($event)"
    ></ms-search-input>
  </div>
</nav>

<ms-search-list
  [movieList]="movieList$ | async"
  (selectMovieEvent)="selectMovie($event)"
></ms-search-list>
