<div
  *ngIf="!(loading$ | async); else Loading"
  class="flex flex-wrap justify-center"
>
  <ng-container *ngFor="let movie of (movieList$ | async)?.results">
    <div class="p-2 cardItem" (click)="selectMovie(movie)">
      <ms-movie-poster
        [posterSrc]="
          'https://www.themoviedb.org/t/p/w600_and_h900_bestv2' +
          movie.poster_path
        "
        [posterTitle]="movie.title"
        [fadeInAnimation]="true"
        [cursorPointer]="true"
      ></ms-movie-poster>
      <p class="p-2 w-60 h-12 text-center text-ellipsis overflow-hidden">
        {{ movie.title }}
      </p>
    </div>
  </ng-container>
</div>

<ng-template #Loading>
  <ms-movie-loading></ms-movie-loading>
</ng-template>
