<nav
  class="bg-gradient-to-r from-gray-50 to-white m-4 rounded-md drop-shadow-xl"
>
  <div *ngIf="user" class="flex flex-wrap justify-between p-4">
    <a
      class="self-center text-3xl font-semibold whitespace-nowrap dark:text-gray-900"
      [routerLink]="['/main/movies']"
      >Movie
    </a>
    <div
      class="max-w-xs cursor-pointer text-ellipsis overflow-hidden ... self-center text-2xl font-semibold whitespace-nowrap dark:text-gray-900 ml-4"
      [matMenuTriggerFor]="menu"
    >
      {{ user.displayName }}
    </div>
    <mat-menu #menu="matMenu" [xPosition]="'before'">
      <button mat-menu-item (click)="selectAdmin()">Admin</button>
      <button mat-menu-item (click)="selectSignOut()">Log Out</button>
    </mat-menu>
    <!-- TODO: fix lag issue -->
    <!-- <ms-movie-input
    [disabled]="(loading$ | async)!"
    [query]="(movieQuery$ | async)!"
    (searchMovieEvent)="searchMovie($event)"
  ></ms-movie-input> -->
  </div>
</nav>
